.header {
  box-shadow: 5px 3px 15px #eaeaea;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header_left {
  display: flex;
  align-items: center;
}

.container_logo {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav_items {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

  &:hover .nav_sub {
    display: block;
  }
}

.header_right {

}

.container_btn {

}

.btn_login,
.btn_register {
  text-decoration: none;
  color: #000;
  margin: 0 20px;
}

.btn_login {
  &:hover {
    text-decoration: underline;
  }
}

.btn_register {
  display: inline-block;
  background-color: #169C89;
  padding: 10px;
  border-radius: 4px;
  color: var(--white-color);
}

.nav_sub {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  width: 300px;
  background-color: #f5f5f5;
  padding: 10px 0;
}

.nav_sub_items {
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: #e8e8e8;
  }
}

.container_avatar {
  width: 26px;
  margin-right: 26px;
  img {
    border-radius: 50%;
  }
}

.container_info {
  display: flex;
  align-items: center;
}

.container_cart {
  position: relative;
  display: flex;
  align-items: center;

  &:hover .popup_cart {
    display: block;
  }

  svg {
    color: #666666;
  }
}

.container_info,
.container_avatar {
  cursor: pointer;
}

.wrapper {
  position: relative;
  &:hover .popup {
    display: block;
  }
}

.popup {
  position: absolute;
  width: 128px;
  right: -35%;
  background-color: #e5e5e5;
  display: none;

  li {
    padding: 6px 10px;
  }
}

.popup_quantity {
  position: absolute;
  bottom: 7px;
  right: -14px;
  font-size: 12px;
  color: red;
  background-color: var(--white-color);
  padding: 0 6px;
  border-radius: 50%;
  border: 2px solid #e3e3e3;
}

.popup_cart {
  position: absolute;
  top: 34px;
  right: -34px;
  background-color: var(--white-color);
  width: 420px;
  box-shadow: 0 0 4px #ccc;
  padding-top: 10px;
  height: 330px;
  overflow: auto;
  display: none;

  .no_cart {
    padding: 60px 80px;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.cart_image{
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: var(--white-color);
}

.wrapper_info {
  width: 220px;
}

.cart_title{
  font-size: 16px;
  font-weight: 700;
}

.cart_author{
  span {
    font-size: 12px;
  }
}

.wrapper_total{

}

.group_quantity{
  span {
    font-size: 14px;
    margin-right: 2px;
    color: red;
    font-weight: 600;
  }
}

.total{
  font-weight: 900;
  font-size: 12px;
  color: red;
}
